<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Facebook" version="7.0.6" targetFramework="net45" />
  <package id="facebook-messenger-net-lib" version="1.0.2" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="PhantomJS" version="2.1.1" targetFramework="net45" />
  <package id="Selenium.Support" version="2.53.1" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="2.53.1" targetFramework="net45" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.23.0.1" targetFramework="net45" />
  <package id="Selenium.WebDriver.IEDriver" version="2.53.1.1" targetFramework="net45" />
  <package id="Selenium.WebDriver.Mono" version="2.45.0" targetFramework="net45" />
</packages>